{% extends 'core/base.html' %}
{% block content %}
<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-building-user fa-2x mb-3" style="color: chartreuse;"></i>           
            <h3>Employe Management System</h3>
            <p style="color: silver;" >Using this it is possible to keep a database of IT and NON-IT department’s information, like information about the employees in various departments, and their hiring date, leave taken by the employees, transacting involving salaries, and bonus will also be stored
            </p>     
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-cart-shopping fa-2x mb-3" style="color: chartreuse;"></i>
        <h3>E-Commerce Application</h3>
            <p style="color: silver;"> This application is a digital platform enabling online buying and selling. It facilitates secure transactions, product browsing, and seamless checkout experiences. Users can explore a diverse range of products, make purchases, and track orders, enhancing the convenience of commercial transactions in the digital realm. 
            </p>     
        </div>


        <div class="col-sm-4">
            <i class="fa-solid fa-book-open-reader fa-2x mb-3 " style="color: chartreuse;"></i>
            <h3>Librery Management System</h3>
            <p style="color: silver;"> The project enables users to store and list records for Book Category, Book Sub Category, Book, Student, and Transactions. It incorporates CRUD (Create, Read, Update, and Delete) operations for each category or record, ensuring comprehensive management of information.

            </p>     
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-address-card fa-2x mb-3" style="color: chartreuse;"></i>           
            <h3>Digital Porfolio</h3>
            <p style="color: silver;" > Digital portfolio aims to showcase of expertise in web development, software engineering, and design. It serves as a concise and impactful representation of candideat skills,and techniqs.
            </p>     
        </div>

       
        </div>
    </div>


    </div>

</div>
{% endblock content %}