{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILSS</h1>
    
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">PYTHON</h3>
            <div class="progress">
                <div class="progress-bar bg-danger"  role="progressbar" style="width: 90%;" area-valuenow="90" area-valuemin="0" area-valuemax="100" >90%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">DJANGO</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" area-valuenow="80" area-valuemin="0" area-valuemax="100" >80%</div>
            </div>
        </div>
    </div>


    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" area-valuenow="80" area-valuemin="0" area-valuemax="100" >90%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class=" progress-bar bg-danger" role="progressbar" style="width: 95%;" area-valuenow="95" area-valuemin="0" area-valuemax="100" >95%</div>
            </div>
        </div>
    </div>


    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">JAVA SCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" area-valuenow="60" area-valuemin="0" area-valuemax="100" >60%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">BHOOTSTRAP</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" area-valuenow="60" area-valuemin="0" area-valuemax="100" >60%</div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">GIT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" style="width: 60%;" area-valuenow="60" area-valuemin="0" area-valuemax="100" >60%</div>
            </div>
        </div>

    

    

</div>


{% endblock content %}